<!-- Team-->
<section class="page-section" id="conoceme">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Conoceme</h2>
            <h3 class="section-subheading text-muted">Descubre más sobre mí. ¡Sígueme para estar al tanto!</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="">
                    <img class="" />
                    <h4></h4>
                    <p class="text-muted"></p>
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ '/assets/img/team/5.png' | relative_url }}" alt="Abogado Andres Sierra" />
                    <h4>Andres Sierra</h4>
                    <p class="text-muted">Consultor Juridico</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/sierraandres11" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.twitter.com/sierraandres11" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>    
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/sierraandres11" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.tiktok.com/@sierraandres_11" target="_blank" aria-label="Tiktok"><i class="fab fa-tiktok"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/andres-sierra-a75627284" target="_blank" aria-label="LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>