<!-- Contact-->
<section class="page-section" id="contactame">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contactame</h2>
            <h3 class="section-subheading text-muted">Tu solución legal comienza aquí.</h3>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <!-- modify this form HTML and place wherever you want your form -->
        <form action="https://formspree.io/f/xdoragwv" method="POST" class="contact-form" target="_blank">
            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" required>
        
            <label for="phone">Telefono:</label>
            <input type="tel" name="phone" id="phone" required>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
        
            
            <label for="message">Consulta:</label>
            <textarea name="message" id="message" required></textarea>
        
            <button type="submit">Enviar</button>
        </form>            
    </div>
</section>