<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ 'index.html' | relative_url }}">
            <img src="{{ 'assets/img/ANDRES SIERRA.svg' | relative_url }}" alt="logo andres sierra abogado" />
        </a>        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ 'index.html' | relative_url }}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '#actualidad_juridica' | relative_url }}">Actualidad Juridica</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '#compromiso' | relative_url }}">Compromiso</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '#mi_historia' | relative_url }}">Mi Historia</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '#conoceme' | relative_url }}">Contactame</a></li>
            </ul>
        </div>
    </div>
</nav>
