<!-- Services-->
<section class="page-section"  id="compromiso">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Compromiso</h2>
            <h3 class="section-subheading text-muted">Dedicado a tus derechos</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-clipboard-check fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Servicio Diligente</h4>
                <p class="text-muted">Trabajo con determinación para alcanzar los mejores resultados para mis clientes, sin pasar por alto ningún aspecto relevante de su situación legal.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-user-tie fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Asesoramiento Personalizado</h4>
                <p class="text-muted">Entiendo que cada cliente es único y tiene necesidades particulares. Mi asesoramiento personalizado implica escuchar atentamente a mis clientes, comprender sus objetivos y preocupaciones, y adaptar mis estrategias legales a sus circunstancias individuales.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-gavel fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Etica Impecable</h4>
                <p class="text-muted">La ética es la base de mi práctica legal. Me guío por principios morales sólidos en cada decisión que tomo y actúo con honestidad, integridad y responsabilidad en todos los aspectos de mi trabajo.</p>
            </div>
        </div>
    </div>
</section>