---
layout: default
---
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              on {{ page.date | date: '%B %d, %Y' }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <hr>

        <div class="clearfix">
          <div class="text-center">
              {% if page.categories.size > 0 %}
                  {% assign current_category = page.categories.first %}
                  {% assign related_posts = site.posts | where: "categories", current_category | where_exp: "post", "post.url != page.url" %}
                  {% if related_posts.size > 0 %}
                      <a class="btn btn-primary" href="{{ related_posts.first.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ related_posts.first.title }}">&#128279; Publicación Relacionada</a>
                  {% endif %}
              {% endif %}
          </div>
      </div>
           

      </div>
    </div>
  </div>
</section>
